In [12]:
from pyspark.sql import SparkSession 

spark = SparkSession \
        .builder \
        .appName("milestone3") \
        .getOrCreate()

In [13]:



df_navhistory = spark.read.option("header", True).option("inferschema", True).csv("/Users/epareek/Desktop/Data 3/NavHistory.csv")

In [14]:
df_navhistory.show()

+------+-------------------+------+----------------+----------+
|  code|           nav_date|   nav|repurchase_price|sale_price|
+------+-------------------+------+----------------+----------+
|120373|2018-12-03 00:00:00|688138|               0|         0|
|120373|2018-12-04 00:00:00|686524|               0|         0|
|120373|2018-12-05 00:00:00|681853|               0|         0|
|120373|2018-12-06 00:00:00|674551|               0|         0|
|120373|2018-12-07 00:00:00|680586|               0|         0|
|120373|2018-12-10 00:00:00|669715|               0|         0|
|120373|2018-12-11 00:00:00|672952|               0|         0|
|120373|2018-12-12 00:00:00|685970|               0|         0|
|120373|2018-12-13 00:00:00|690027|               0|         0|
|120373|2018-12-14 00:00:00|691042|               0|         0|
|120373|2018-12-17 00:00:00|695260|               0|         0|
|120373|2018-12-18 00:00:00|699280|               0|         0|
|120373|2018-12-19 00:00:00|706902|               0|         0|
|120373|2018-12-20 00:00:00|704411|               0|         0|
|120373|2018-12-21 00:00:00|695366|               0|         0|
|120373|2018-12-24 00:00:00|690923|               0|         0|
|120373|2018-12-26 00:00:00|695520|               0|         0|
|120373|2018-12-27 00:00:00|695310|               0|         0|
|120373|2018-12-28 00:00:00|701676|               0|         0|
|120373|2018-12-31 00:00:00|702966|               0|         0|
+------+-------------------+------+----------------+----------+
only showing top 20 rows

In [10]:
df_navhistory.createOrReplaceTempView("nav_data")

In [11]:
df_navdata= spark.sql("select * from nav_data order by nav_date desc").show()

+------+-------------------+--------+----------------+----------+
|  code|           nav_date|     nav|repurchase_price|sale_price|
+------+-------------------+--------+----------------+----------+
|146677|2021-01-31 00:00:00|10013641|               0|         0|
|147948|2021-01-31 00:00:00|10026659|               0|         0|
|146676|2021-01-31 00:00:00|10012187|               0|         0|
|145486|2021-01-31 00:00:00|11074440|               0|         0|
|146682|2021-01-31 00:00:00|10005032|               0|         0|
|145489|2021-01-31 00:00:00|10001900|               0|         0|
|146678|2021-01-31 00:00:00|10813217|               0|         0|
|145487|2021-01-31 00:00:00|10000200|               0|         0|
|146681|2021-01-31 00:00:00|10013451|               0|         0|
|145481|2021-01-31 00:00:00|11042880|               0|         0|
|146680|2021-01-31 00:00:00|10011818|               0|         0|
|146675|2021-01-31 00:00:00|10825308|               0|         0|
|147197|2021-01-31 00:00:00|10000000|               0|         0|
|147198|2021-01-31 00:00:00|10005071|               0|         0|
|147952|2021-01-31 00:00:00|10000000|               0|         0|
|147127|2021-01-31 00:00:00|10000000|               0|         0|
|145488|2021-01-31 00:00:00|10001921|               0|         0|
|147125|2021-01-31 00:00:00|10779124|               0|         0|
|145485|2021-01-31 00:00:00|10001869|               0|         0|
|147126|2021-01-31 00:00:00|10002579|               0|         0|
+------+-------------------+--------+----------------+----------+
only showing top 20 rows

In [15]:
import warnings                                  # `do not disturbe` mode
warnings.filterwarnings('ignore')

In [16]:
from handyspark import *

In [17]:



df_mutual = spark.read.option("header", True).option("inferschema", True).csv("/Users/epareek/Desktop/Data 3/MutualFund.csv")

In [18]:
df_mutual.show()

+------+------+-----------+--------------------+------------+--------------------+--------------------------+
|  code|amc_id|category_id|                name| isin_growth|isin_dividend_payout|isin_dividend_reinvestment|
+------+------+-----------+--------------------+------------+--------------------+--------------------------+
|120373|     1|          1|SAHARA BANKING & ...|INF515L01AJ6|        INF515L01AJ6|                      null|
|109493|     1|          1|SAHARA BANKING & ...|INF515L01494|        INF515L01494|                      null|
|120374|     1|          1|SAHARA BANKING & ...|INF515L01AH0|        INF515L01AH0|              INF515L01AI8|
|109494|     1|          1|SAHARA BANKING & ...|INF515L01478|        INF515L01478|              INF515L01486|
|101529|     1|          1|Sahara Growth Fun...|INF515L01155|        INF515L01155|              INF515L01163|
|120288|     1|          1|Sahara Growth Fun...|INF515L01759|        INF515L01759|              INF515L01767|
|101528|     1|          1|Sahara Growth Fun...|INF515L01171|        INF515L01171|                      null|
|120289|     1|          1|Sahara Growth Fun...|INF515L01775|        INF515L01775|                      null|
|120352|     1|          1|Sahara Infrastruc...|INF515L01924|        INF515L01924|              INF515L01932|
|120353|     1|          1|Sahara Infrastruc...|INF515L01940|        INF515L01940|                      null|
|103730|     1|          1|Sahara Infrastruc...|INF515L01320|        INF515L01320|              INF515L01338|
|103731|     1|          1|Sahara Infrastruc...|INF515L01346|        INF515L01346|                      null|
|120354|     1|          1|Sahara Infrastruc...|INF515L01957|        INF515L01957|              INF515L01965|
|120355|     1|          1|Sahara Infrastruc...|INF515L01973|        INF515L01973|                      null|
|103732|     1|          1|Sahara Infrastruc...|INF515L01353|        INF515L01353|              INF515L01361|
|103733|     1|          1|Sahara Infrastruc...|INF515L01379|        INF515L01379|                      null|
|100798|     1|          1|Sahara Midcap Fun...|INF515L01247|        INF515L01247|                      null|
|120295|     1|          1|Sahara Midcap Fun...|INF515L01841|        INF515L01841|                      null|
|100799|     1|          1|Sahara Midcap Fun...|INF515L01254|        INF515L01254|                      null|
|120296|     1|          1|Sahara Midcap Fun...|INF515L01858|        INF515L01858|                      null|
+------+------+-----------+--------------------+------------+--------------------+--------------------------+
only showing top 20 rows

In [94]:


df_per = df_navhistory.join(df_mutual,df_navhistory.code == df_mutual.code,"inner")

df_per.createOrReplaceTempView("perf_data")

In [44]:
row1 = df_per.agg({"nav_date": "max"}).collect()[0]

print(row1)

Row(max(nav_date)=datetime.datetime(2021, 1, 31, 0, 0))

In [45]:
row2 = df_per.agg({"nav_date": "min"}).collect()[0]

print(row2)

Row(min(nav_date)=datetime.datetime(2018, 12, 1, 0, 0))

In [78]:
df_mp = spark.sql("select max(nav_date) as max_day_year,min(nav_date) as min_day_year , \
                         name from perf_data where year(nav_date) = 2019 group by name  ").show()

#df_mp.createOrReplaceTempView("mp_data")

+-------------------+-------------------+--------------------+
|       max_day_year|       min_day_year|                name|
+-------------------+-------------------+--------------------+
|2019-12-31 00:00:00|2019-01-01 00:00:00|Sahara Growth Fun...|
|2019-12-31 00:00:00|2019-01-01 00:00:00|Edelweiss Large &...|
|2019-12-31 00:00:00|2019-01-01 00:00:00|Invesco India Gro...|
|2019-12-31 00:00:00|2019-01-01 00:00:00|Principal Focused...|
|2019-12-31 00:00:00|2019-01-01 00:00:00|Sundaram Select F...|
|2019-12-31 00:00:00|2019-01-02 00:00:00|ICICI Prudential ...|
|2019-12-31 00:00:00|2019-01-01 00:00:00|UTI India Consume...|
|2019-12-31 00:00:00|2019-01-01 00:00:00|Aditya Birla Sun ...|
|2019-12-31 00:00:00|2019-01-01 00:00:00|BOI AXA Liquid Fu...|
|2019-12-31 00:00:00|2019-01-01 00:00:00|Invesco India Liq...|
|2019-12-31 00:00:00|2019-01-01 00:00:00|Mirae Asset Cash ...|
|2019-12-31 00:00:00|2019-01-17 00:00:00|YES Liquid Fund- ...|
|2019-12-31 00:00:00|2019-01-01 00:00:00|Axis Ultra Short ...|
|2019-12-31 00:00:00|2019-01-01 00:00:00|Essel Ultra Short...|
|2019-12-31 00:00:00|2019-01-01 00:00:00|UTI MMF- Disconti...|
|2019-12-31 00:00:00|2019-01-01 00:00:00|Invesco India Sho...|
|2019-12-31 00:00:00|2019-01-01 00:00:00|DSP Strategic Bon...|
|2019-12-31 00:00:00|2019-01-01 00:00:00|JM Dynamic Debt F...|
|2019-12-31 00:00:00|2019-01-01 00:00:00|Axis Corporate De...|
|2019-12-31 00:00:00|2019-01-01 00:00:00|Edelweiss Corpora...|
+-------------------+-------------------+--------------------+
only showing top 20 rows

In [103]:
df_performance = spark.sql("select nav, nav_date from perf_data where nav IN \
                     (select nav from perf_data where nav_date = \
                           (select perf_data.nav_date from perf_data where nav_date = 2018-12-12))").show()

AnalysisException: cannot resolve '(perf_data.nav_date = ((2018 - 12) - 12))' due to data type mismatch: differing types in '(perf_data.nav_date = ((2018 - 12) - 12))' (timestamp and int).; line 1 pos 189;
'Project ['nav, 'nav_date]
+- 'Filter nav#203L IN (list#2331 [])
   :  +- 'Project ['nav]
   :     +- 'Filter (nav_date#2347 = scalar-subquery#2330 [])
   :        :  +- 'Project ['perf_data.nav_date]
   :        :     +- 'Filter (nav_date#2333 = ((2018 - 12) - 12))
   :        :        +- SubqueryAlias perf_data
   :        :           +- View (`perf_data`, [code#2332,nav_date#2333,nav#2334L,repurchase_price#2335,sale_price#2336,code#2337,amc_id#2338,category_id#2339,name#2340,isin_growth#2341,isin_dividend_payout#2342,isin_dividend_reinvestment#2343])
   :        :              +- Join Inner, (code#2332 = code#2337)
   :        :                 :- Relation [code#2332,nav_date#2333,nav#2334L,repurchase_price#2335,sale_price#2336] csv
   :        :                 +- Relation [code#2337,amc_id#2338,category_id#2339,name#2340,isin_growth#2341,isin_dividend_payout#2342,isin_dividend_reinvestment#2343] csv
   :        +- SubqueryAlias perf_data
   :           +- View (`perf_data`, [code#2346,nav_date#2347,nav#2348L,repurchase_price#2349,sale_price#2350,code#2351,amc_id#2352,category_id#2353,name#2354,isin_growth#2355,isin_dividend_payout#2356,isin_dividend_reinvestment#2357])
   :              +- Join Inner, (code#2346 = code#2351)
   :                 :- Relation [code#2346,nav_date#2347,nav#2348L,repurchase_price#2349,sale_price#2350] csv
   :                 +- Relation [code#2351,amc_id#2352,category_id#2353,name#2354,isin_growth#2355,isin_dividend_payout#2356,isin_dividend_reinvestment#2357] csv
   +- SubqueryAlias perf_data
      +- View (`perf_data`, [code#201,nav_date#202,nav#203L,repurchase_price#204,sale_price#205,code#255,amc_id#256,category_id#257,name#258,isin_growth#259,isin_dividend_payout#260,isin_dividend_reinvestment#261])
         +- Join Inner, (code#201 = code#255)
            :- Relation [code#201,nav_date#202,nav#203L,repurchase_price#204,sale_price#205] csv
            +- Relation [code#255,amc_id#256,category_id#257,name#258,isin_growth#259,isin_dividend_payout#260,isin_dividend_reinvestment#261] csv

In [76]:
select nav from (select nav from perf_data where max(month(nav_date)))

SyntaxError: invalid syntax (2174162626.py, line 1)